PORT=5000
MONGO_URI=mongodb+srv://your_username:your_password@cluster0.mongodb.net/your_db_name
JWT_SECRET=your_jwt_secret_key_here
NODE_ENV=development
CLIENT_URL=http://localhost:5173

MAILTRAP_TOKEN=your_mailtrap_token
MAILTRAP_ENDPOINT=https://send.api.mailtrap.io/

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=http://localhost:5000/api/auth/google/callback
GOOGLE_ALLOWED_REDIRECT_URIS=http://localhost:5173,http://localhost:5000

# For encrypting sensitive user data like API keys
ENCRYPTION_KEY=your_32_char_encryption_key_here
